.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }

.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }

.small-margin { margin: rem(12) !important };
.small-margin-left { margin-left: rem(12) !important };
.small-margin-right { margin-right: rem(12) !important };
.small-margin-top { margin-top: rem(12) !important };
.small-margin-bottom { margin-bottom: rem(12) !important };

.full-width { width: 100%; }
.large-width { max-width: rem(640); }
.medium-width { max-width: rem(482); }
.small-width { max-width: rem(290); }
