.selector {
  font-size: rem(24);
  @include main-color;
}

.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }

@each $size-name, $size in $font-sizes{
  &.#{$size-name}-font-size { font-size: $size !important; }
}
