.selector {
  font-size: rem(24);
  @include main-color;
}

.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }

.thin-weight { font-weight: 100 !important; }
.light-weight { font-weight: 200 !important; }
.normal-weight { font-weight: 300 !important; }
.medium-weight { font-weight: 400 !important; }
.bold-weight { font-weight: 500 !important; }
.x-bold-weight { font-weight: 600; }
.xx-bold-weight { font-weight: 700; }
.xxx-bold-weight { font-weight: 900; }

.min-line-height { line-height: 1em; }
.small-line-height { line-height: 1.15em; }
.medium-line-height { line-height: 1.4em; }

.no-text-transform { text-transform: none !important; }
.uppercase { text-transform: uppercase !important; }

@each $size-name, $size in $font-sizes{
  &.#{$size-name}-font-size,
  &.#{$size-name}-font-size * { font-size: $size !important; }
}
