$icon-quotes-close: "\e9d5";
$icon-quotes-open: "\e9d6";
$icon-smile: "\e9d7";
$icon-caret-up: "\e9cf";
$icon-caret-right: "\e9d0";
$icon-caret-left: "\e9d1";
$icon-caret-down: "\e9d2";
$icon-dots: "\e9d3";
$icon-thunder-aa: "\e9d4";
$icon-bars: "\e9cd";
$icon-vertical-dots: "\e9ce";
$icon-angle-left: "\e900";
$icon-angle-right: "\e901";
$icon-plus-circle: "\e902";
$icon-aim: "\e903";
$icon-airplane: "\e904";
$icon-alarm: "\e905";
$icon-antenna: "\e906";
$icon-archive: "\e907";
$icon-bar-chart: "\e908";
$icon-basket: "\e909";
$icon-battery: "\e90a";
$icon-bell: "\e90b";
$icon-bike: "\e90c";
$icon-board-complex-chart: "\e90d";
$icon-board-line-chart: "\e90e";
$icon-bookmark: "\e90f";
$icon-boxes: "\e910";
$icon-briefcase: "\e911";
$icon-calendar-flip: "\e912";
$icon-calendar: "\e913";
$icon-camera: "\e914";
$icon-car: "\e915";
$icon-cart-a: "\e916";
$icon-cart: "\e917";
$icon-celsius: "\e918";
$icon-check: "\e919";
$icon-chicken-wind: "\e91a";
$icon-clip: "\e91b";
$icon-clock: "\e91c";
$icon-close: "\e91d";
$icon-cloud-check: "\e91e";
$icon-cloud-download: "\e91f";
$icon-cloud-rainbow: "\e920";
$icon-cloud-reload: "\e921";
$icon-cloud-repeat: "\e922";
$icon-cloud-snow-rain: "\e923";
$icon-cloud-snow: "\e924";
$icon-cloud-sun: "\e925";
$icon-cloud-thunder: "\e926";
$icon-cloud-upload: "\e927";
$icon-cloud-wind: "\e928";
$icon-cloud: "\e929";
$icon-clouds-sun: "\e92a";
$icon-clouds: "\e92b";
$icon-clound-sun-rain: "\e92c";
$icon-coffee: "\e92d";
$icon-cog: "\e92e";
$icon-cogs: "\e92f";
$icon-comment-dots: "\e930";
$icon-comment-square-dots-a: "\e931";
$icon-comment-square-dots: "\e932";
$icon-comment-square: "\e933";
$icon-comment: "\e934";
$icon-comments-square-dots: "\e935";
$icon-comments: "\e936";
$icon-compass: "\e937";
$icon-complex-chart-down: "\e938";
$icon-complex-chart-up: "\e939";
$icon-control-squares: "\e93a";
$icon-control: "\e93b";
$icon-copy: "\e93c";
$icon-cross-arrows: "\e93d";
$icon-db: "\e93e";
$icon-desktop: "\e93f";
$icon-duplicate-down: "\e940";
$icon-duplicate-up: "\e941";
$icon-eject: "\e942";
$icon-envelop-empty: "\e943";
$icon-envelope-down: "\e944";
$icon-envelope-open: "\e945";
$icon-envelope-plus: "\e946";
$icon-envelope: "\e947";
$icon-eye: "\e948";
$icon-fahrenheit: "\e949";
$icon-file-down: "\e94a";
$icon-file-lines-pencil: "\e94b";
$icon-file-lines: "\e94c";
$icon-file-minus: "\e94d";
$icon-file-plus: "\e94e";
$icon-file-up: "\e94f";
$icon-file: "\e950";
$icon-files: "\e951";
$icon-film: "\e952";
$icon-flag-wind: "\e953";
$icon-flag: "\e954";
$icon-folder-open: "\e955";
$icon-folder: "\e956";
$icon-fork-knife: "\e957";
$icon-gift-a: "\e958";
$icon-gift: "\e959";
$icon-globe: "\e95a";
$icon-group: "\e95b";
$icon-headphones: "\e95c";
$icon-heart: "\e95d";
$icon-hierarchy-round: "\e95e";
$icon-hierarchy-simple: "\e95f";
$icon-hierarchy: "\e960";
$icon-house: "\e961";
$icon-hurricane: "\e962";
$icon-id: "\e963";
$icon-in: "\e964";
$icon-inbox-in: "\e965";
$icon-inbox-out: "\e966";
$icon-info: "\e967";
$icon-key: "\e968";
$icon-lamp: "\e969";
$icon-line-chart-up: "\e96a";
$icon-line-chart: "\e96b";
$icon-link: "\e96c";
$icon-lock: "\e96d";
$icon-map-mark-a: "\e96e";
$icon-map-marker: "\e96f";
$icon-map-with-marker: "\e970";
$icon-map: "\e971";
$icon-maximize-a: "\e972";
$icon-maximize: "\e973";
$icon-megaphone-pro: "\e974";
$icon-megaphone: "\e975";
$icon-mic: "\e976";
$icon-minimize-a: "\e977";
$icon-minimize: "\e978";
$icon-minus: "\e979";
$icon-mobile: "\e97a";
$icon-moon: "\e97b";
$icon-moustache: "\e97c";
$icon-music: "\e97d";
$icon-news: "\e97e";
$icon-next: "\e97f";
$icon-notebook: "\e980";
$icon-open-box: "\e981";
$icon-out: "\e982";
$icon-paint-brush: "\e983";
$icon-paper-plane: "\e984";
$icon-pause: "\e985";
$icon-pen: "\e986";
$icon-person-comment: "\e987";
$icon-person-thought: "\e988";
$icon-person: "\e989";
$icon-phone-ring: "\e98a";
$icon-picture: "\e98b";
$icon-pictures: "\e98c";
$icon-pie-chart-a: "\e98d";
$icon-pie-chart: "\e98e";
$icon-pin-a: "\e98f";
$icon-pin: "\e990";
$icon-play: "\e991";
$icon-plus: "\e992";
$icon-previous: "\e993";
$icon-printer: "\e994";
$icon-pro-mic: "\e995";
$icon-radio: "\e996";
$icon-rain: "\e997";
$icon-record: "\e998";
$icon-repeat: "\e999";
$icon-return: "\e99a";
$icon-roll: "\e99b";
$icon-satellite: "\e99c";
$icon-science: "\e99d";
$icon-scissor: "\e99e";
$icon-search-minus: "\e99f";
$icon-search-plus: "\e9a0";
$icon-share: "\e9a1";
$icon-shopping-bag-a: "\e9a2";
$icon-shopping-bag: "\e9a3";
$icon-shuffle: "\e9a4";
$icon-signal: "\e9a5";
$icon-small-group-comment: "\e9a6";
$icon-small-group-eye: "\e9a7";
$icon-small-group: "\e9a8";
$icon-sound-mute: "\e9a9";
$icon-sound-volume: "\e9aa";
$icon-sound: "\e9ab";
$icon-spot: "\e9ac";
$icon-square-in-down: "\e9ad";
$icon-square-in-up: "\e9ae";
$icon-square-out-right: "\e9af";
$icon-square-out-up: "\e9b0";
$icon-square-pencil: "\e9b1";
$icon-star: "\e9b2";
$icon-stop: "\e9b3";
$icon-store: "\e9b4";
$icon-sun: "\e9b5";
$icon-tag: "\e9b6";
$icon-temperature: "\e9b7";
$icon-think: "\e9b8";
$icon-thumbs-up: "\e9b9";
$icon-thunder-a: "\e9ba";
$icon-thunder: "\e9bb";
$icon-timer: "\e9bc";
$icon-tools: "\e9bd";
$icon-train: "\e9be";
$icon-trash: "\e9bf";
$icon-trophy: "\e9c0";
$icon-turn-on: "\e9c1";
$icon-umbrella-rain: "\e9c2";
$icon-umbrella-wind-a: "\e9c3";
$icon-umbrella-wind: "\e9c4";
$icon-umbrella: "\e9c5";
$icon-unlock: "\e9c6";
$icon-video-camera: "\e9c7";
$icon-weight: "\e9c8";
$icon-wind-a: "\e9c9";
$icon-wind-rain: "\e9ca";
$icon-wind: "\e9cb";
$icon-wine: "\e9cc";
