$input-padding: rem(29);
$content-padding: rem(42);
$panel-padding: rem(22);
$common-shaddow: 1px 1px 5px transparentize($detail-1-color, 0.8);
$common-light-shaddow: 1px 1px 5px transparentize($light-detail-1-color, 0.4);
$boxed-height: rem(81);
