$futura: Futura, "Trebuchet MS", Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$xxxl-font-size: rem(72);
$xxl-font-size: rem(44);
$xl-font-size: rem(32);
$l-font-size: rem(28);
$m-font-size: rem(22);
$font-size: rem(18);
$s-font-size: rem(14);
$xs-font-size: rem(12);
$xxs-font-size: rem(10);
$xxxs-font-size: rem(6);

$font-sizes: (
  ('xxxl', $xxxl-font-size),
  ('xxl', $xxl-font-size),
  ('xl', $xl-font-size),
  ('l', $l-font-size),
  ('default', $font-size),
  ('m', $m-font-size),
  ('s', $s-font-size),
  ('xs', $xs-font-size),
  ('xxs', $xxs-font-size),
  ('xxxs', $xxxs-font-size),
);
