.qr-avatar-wrapper{
  @include display(flex);
  @include align-items(center);
  @include justify-content(flex-start);

  .qr-avatar{
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background: $light-detail-1-color;
    border-radius: 50%;
    @include size(rem(60));
    min-width: rem(60);

    img,
    .qr-initials{
      color: white;
    }

    .qr-initials{
      font-weight: 300;
      font-size: rem(24);
    }

    &.x-small,
    &.small {
      @include size(rem(40));
      min-width: rem(40);
      .qr-initials { font-size: rem(16); }
    }

    &.x-large {
      @include size(rem(145));
      .qr-initials { font-size: rem(52); }
    }
  }

  .qr-avatar-text{
    margin-left: rem(18);

    h4,
    p{
      margin: 0;
    }

    h4{
      font-size: $l-font-size;
    }

    p{
      color: $detail-4-color;
      font-size: $s-font-size;
      line-height: 1.2;
      font-weight: 200;
    }

    &.x-small,
    &.small {
      margin-left: rem(12);
      h4 { letter-spacing: 1.1; }
    }

    &.small h4 { font-size: $m-font-size; }
    &.x-small {
      h4 { font-size: $font-size; }
      p { font-size: $xs-font-size; }
    }
  }
}
