$small-badge-size: rem(12);
$badge-size: rem(20);
$large-badge-size: rem(24);

.qr-badge{
  position: relative;

  .qr-badge-content{
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    position: absolute;
    right: rem(-8);
    top: rem(-8);
    font-weight: 200;
    font-size: $xxs-font-size;
    color: $white-color;
    background: $detail-4-color;
    border-radius: $badge-size;
    height: $badge-size;
    min-width: $badge-size;

    &.small {
      right: rem(-6);
      top: rem(-2);
      font-size: $xxxs-font-size;
      border-radius: $small-badge-size;
      height: $small-badge-size;
      min-width: $small-badge-size;
    }

    &.large {
      font-size: $s-font-size;
      border-radius: $large-badge-size;
      height: $large-badge-size;
      min-width: $large-badge-size;
    }
  }

}
