input[type='file'],
#{$all-text-inputs} {
  outline: none;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 $input-padding;
  font-size: $font-size;
  border: none;
  min-height: rem(60);

  &.small-height { min-height: rem(30); }
}

textarea {
  padding: $input-padding;
  resize: none;
}

@media (min-width: $small-breakpoint) {
  #{$all-text-inputs} {
    text-align: left;
  }
}
