.qr-loading {
  padding: rem(6);

  img {
    width: rem(80);
    height: auto;
    @include animation(loadingAnimation linear 1s);
    @include animation-iteration-count(infinite);
    @include transform-origin(center);
  }
}

@include keyframes(loadingAnimation) {
  100% {
    @include transform(rotate(360deg));
  }
}
