$panel-link-border-color: $light-detail-1-color;
$transparent-panel-link-border-color: transparentize($light-detail-1-color, 0.8);

.qr-panel {
  background: white;
  margin-bottom: 2 * $gutter;
}

.qr-panel-content {
  padding: $panel-padding;

  & > * {
    color: $detail-3-color;
  }
}

.qr-panel-footer {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  @include flex-wrap(wrap);
  border-top: 1px solid $panel-link-border-color;

  & > * {
    margin: 0;
    font-size: $s-font-size;
    @include flex-grow(1);
    @include flex(1);
    padding: $panel-padding;
    &:not(.qr-panel-footer-link) { color: $detail-3-color; }
  }
}

.qr-panel-header {
  padding: rem(17) $panel-padding;
  padding-bottom: 0;

  h2,
  h3,
  h4 {
    color: $detail-2-color;
    margin: 0;
    font-weight: 400;
  }
}

.qr-panel-footer-link {
  display: block;
  font-size: $s-font-size;
  text-transform: uppercase;
  text-align: center;
  &:not(:last-of-type) { border-right: solid 1px $light-detail-1-color; }
}

.qr-panel.transparent {
  background: transparentize(#000000, 0.84);

  .qr-panel-header {
    h2,
    h3,
    h4 {
      font-weight: 300;
    }
  }

  * { color: white; }
  .qr-panel-footer { border-color: $transparent-panel-link-border-color; }
  .qr-panel-footer-link { border-color: $transparent-panel-link-border-color; }
}
