.qr-progress-chart{
  position: relative;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  .info{
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include position(absolute, 0 0 0 0);

    div{
      @include main-color;
      font-size: rem(24);
      font-weight: 300;
    }
  }

  .ct-series-a path{ @include main-stroke-color; }
  .ct-series-b path{ stroke: $light-detail-2-color !important; }

  @each $color-name, $color-value in $colors{
    &.#{$color-name}-color .ct-series-a path { stroke: $color-value !important; }
    &.#{$color-name}-color .info div { color: $color-value !important; }
  }
}
