.qr-separator {
  padding: rem(42) 0;

  &.x-large { padding: rem(90) 0; }
  &.large { padding: rem(60) 0; }
  &.small { padding: rem(24) 0; }
  &.x-small { padding: rem(12) 0; }
  &.xx-small { padding: rem(4) 0; }
}

.qr-separator-line {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border-top: dashed 1px $light-detail-2-color;
}
