.qr-sidebar {
  display: none;
}

@media (min-width: $small-breakpoint) {
  .qr-sidebar {
    display: block;
    background: $light-detail-2-color;
    max-width: 30%;

    &.border-right,
    &.border-left {
      background: transparent;
    }

    &.medium { max-width: 25%; }
    &.small { max-width: 20%; }
    &.border-right { border-right: solid 1px $light-detail-1-color; }
    &.border-left { border-left: solid 1px $light-detail-1-color; }
  }

  .qr-sidebar-section {
    display: block;
    padding: rem(33);
  }

  .qr-sidebar-section-title {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);

    h3 {
      font-family: $futura;
      font-size: rem(20);
      text-transform: uppercase;
    }
  }

  .qr-sidebar-section-content {
    &, * {
      color: $detail-2-color;
    }
  }

  .with-sidebar,
  .with-small-sidebar {
    @include display(flex);
    @include flex-wrap(wrap);
  }

  .with-sidebar > * { width: 70%; }
  .with-small-sidebar > * { width: 80%; }
  .with-medium-sidebar > * { width: 75%; }
}
